body{
  background-color: black;
}

.limegreen-text {
  color: limegreen;
}

h1 {
  font-family: Lobster, Monospace;
  font-size: 70px;
}


h2 {
  font-family: Lobster, Monospace;
  font-size: 60px;
}

h3 {
  font-family: Lobster, Monospace;
  font-size: 60px;
}

h3 {
  font-family: Lobster, Monospace;
}

h4 {
  font-size: 20px;
  font-family: Monospace;
}

ul{
  color: white;
}


p {
  color: white;
  font-size: 25px;
  font-family: Monospace;
}

.thick-green-border {
  border-color: limegreen;
  border-width: 1px;
  border-style: solid;
  border-radius: 60%;
}

.smaller-image {
  width: 250px;
}
