body{
  background-color: black;
}


.limegreen-text {
  color: limegreen;
}


.yellow-text {
  color: #f9f906;
}

.red-text {
  color: #f91f1f;
}

.orange-text {
  color: #f98006;
}

.gray-text {
  color: #b3cccc;
}

.pink-text {
  color: #ff00bf;
}

.blue-text {
  color: #0099ff;
}


h1 {
  font-family: Fredericka the Great, cursive;
  font-size: 153px;
}


h2 {
  font-family: Fredericka the Great, cursive;
  font-size: 90px;
}


h3 {
  font-size: 65px;
  font-family: Fredericka the Great, cursive;
}


h4 {
  color: white;
  font-size: 35px;
  font-family: Ruluko, sans-serif;
}


h5 {
  font-size: 70px;
}


h6 {
  color: white;
  font-size: 40px;
  font-family: Ruluko, sans-serif;
}



ul{
  color: white;
}



.smaller-p {
  color: white;
  font-size: 45px;
/*  font-family: Ruluko, sans-serif; */
  font-family: Fredericka the Great, cursive;
}


p {
  color: white;
  font-size: 55px;
/*  font-family: Ruluko, sans-serif; */
  font-family: Fredericka the Great, cursive;
}


i {
  color: white;
}


a:link {
    text-decoration: none;
    color: white;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}







.other-p {
  color: white;
}


.thick-green-border {
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 30%;
}



.gif-recipes {
  width: 500px;
}

.gif-juice {
  height: 500px;
}
