body{
  background-color: black;
}


.limegreen-text {
  color: limegreen;
}


h1 {
  font-family: Fredericka the Great, cursive;
  font-size: 143px;
  margin-top: 70px;
  margin-bottom: 20px;
}


h2 {
  font-family: Fredericka the Great, cursive;
  font-size: 80px;
}


h3 {
  font-size: 40px;
  font-family: Fredericka the Great, cursive;
}

h4 {
  color: white;
  font-size: 25px;
  font-family: Ruluko, sans-serif;
}


h5 {
  font-size: 60px;
}

h6 {
  color: white;
  font-size: 20px;
  font-family: Ruluko, sans-serif;
}



ul{
  color: white;
}


p {
  color: white;
  font-size: 45px;
  font-family: Ruluko, sans-serif;
}


i {
  color: white;
}

.other-i {
  color: limegreen;
}

a:link {
    text-decoration: none;
    color: white;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}







.p-other-color {
  color: white;
}


.thick-green-border {
  border-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 30%;
}

.smaller-image {
  height: 400px;
}
